{% extends 'base.html' %}
{% block title %}
Login
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_page.css') }}">
{% endblock css %}
{% block body %}
<div class="mainBlock d-flex flex-row my-5 mx-5 justify-content-between">
    <div class="col-lg-8 d-none d-lg-block d-md-block">

    </div>
    <div class="col-lg-4 col-md-12 shadow border login-container">
        <form class="d-flex flex-column justify-content-center align-items-center">
            <div class="mb-3 w-100">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3 w-100">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
                <a href="/" class="text-opacity-75 text-decoration-none font-size-sm">Forgot Password?</a>
            </div>
            <button type="submit" class="btn btn-primary btn-md d-block w-100">Log in</button>
        </form>
        <div class="line container-fluid d-flex flex-row align-items-center justify-content-center text-center my-4 p-0">
            <div class="col-5 h-1">
                
            </div>
            <div class="col-2">
                OR
            </div>
            <div class="col-5 h-1">
                
            </div>
        </div>
        <button class="btn btn-outline-success btn-md d-block w-100">Create an Account</button>
    </div>
</div>

{% endblock body %}